p1 {
    font-family: Impact;
    font-size: 3em;
    text-shadow: -5px 4px #BEBEBE;
    text-align: center;
    word-spacing: 10px;
    text-indent: -45%;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center
  }

  img {

    max-height:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
 
  
  .text {
    font-size: 20px;
    padding-left: 0px;
  }
  .column {
    float: left; 
    width: 50%;
    padding: 5px;
  }
  body {background-color: rgb(212, 212, 212);}

  .fix{
    position:fixed;
    bottom:0px;
    left: 90%;
    margin: 2%;
}